<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="http://jelix.org/ns/module/1.0">
    <info id="adminui@jelix.org" name="adminui" createdate="2019-07-26">
        <version date="2019-09-23">0.9</version>
        <label lang="en_US">adminui</label>
        <description lang="en_US" />
        <license>MIT</license>
        <copyright>2019 Laurent Jouanneau and other contributors</copyright>
        <author name="Laurent Jouanneau"/>
    </info>
    <dependencies>
        <jelix minversion="1.7.2-pre" maxversion="1.7.*"/>
    </dependencies>
    <autoload>
        <psr4 namespace="\Jelix\AdminUI\" dir="lib"/>
    </autoload>
</module>
